.container-footer {

    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--dark);
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    a {
        color: var(--blue);
    }

}

@media (min-height: 670px) {

    .container-footer {

        position: absolute;
        left: 0;
        right: 0;
        bottom: 3rem;
    
    }
}