@font-face {
    font-family: "Lato";
    src: local("Lato-Regular"), url("./fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"),  url("./fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    src: local("Merriweather-Regular"), url("./fonts/Merriweather-Regular.ttf") format("truetype");
}

.content {

    padding: 7.1rem 3.2rem 5rem 3.2rem;
    background-color: var(--white);
    font-family: "Lato";

    .container-aboutUs {

        display: none;

    }

    .container-title {

        h3 {

            font-family: "Merriweather";
            font-size: 1.6rem;
            line-height: 2rem;
            color: var(--dark);
            margin-bottom: .7rem;

        }

        h1 {
            font-family: "Merriweather";
            font-weight: bold;
            font-size: 2.6rem;
            line-height: 3.3rem;
            color: var(--dark);
            
        }
        margin-bottom: 3.9rem;

    }

    .container-form {

        .container-email {

            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;


            label {

                font-size: 1.6rem;
                line-height: 1.9rem;                
                color: var(--dark);
                margin-bottom: 1rem;

            }

            input {
                
                border: .1rem solid var(--input);
                box-sizing: border-box;
                border-radius: .5rem;
                font-size: 1.4rem;
                line-height: 1.7rem;
                padding: 1.7rem 2rem;

                color: var(--dark);

            }

            input::placeholder {

                font-size: 1.4rem;
                line-height: 1.7rem;

                color: var(--dark);

            }

        }

        .container-password {

            display: flex;
            flex-direction: column;
            margin-bottom: 2.8rem;

            label{

                font-size: 1.6rem;
                line-height: 1.9rem;                
                color: var(--dark);
                margin-bottom: 1rem;
                
            }

            input {

                border: .1rem solid var(--input);
                box-sizing: border-box;
                border-radius: .5rem;
                font-size: 1.4rem;
                line-height: 1.7rem;
                padding: 1.7rem 2rem;
                color: var(--dark);

            }

            input::placeholder {

                font-size: 1.4rem;
                line-height: 1.7rem;
                color: var(--dark);

            }

        }

        .container-rememberMe {

            display: flex;
            justify-content: space-between;

            a {
                font-size: 1.4rem;
                line-height: 1.7rem;
                color: var(--blue);
            }

            margin-bottom: 2.5rem;

        }

        .container-checkbox {

            display: flex;
            align-items: center;
            
            input{
                // background: var(--white300);
                // border: 1px solid var(--input);
                // box-sizing: border-box;
                // appearance: none;
                // width: 1.5rem;
                // height: 1.5rem;
                // border-radius: 100%;
            }

            label{
                font-size: 1.4rem;
                line-height: 1.7rem;                
                color: var(--dark);
                margin-left: 1rem;
            }

        }

        .container-button {
        
        }
        
        .container-button-google {
        
        }
        
    }

    .container-register {
    }

}

@media (min-width: 768px) {

    .content {
        
        .container-aboutUs {

            background-color: var(--white300);
            display: block;

        }    
    
    }
}