@font-face {
    font-family: "Lato";
    src: local("Lato-Regular"), url("./fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"),  url("./fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    src: local("Merriweather-Regular"), url("./fonts/Merriweather-Regular.ttf") format("truetype");
}

.content {

    padding: 7.1rem 3.2rem 5rem 3.2rem;
    background-color: var(--white);
    font-family: "Lato";

    .container-aboutUs {
        display: none;
    }

    .container-title {

        h3 {
            font-family: "Merriweather";
            font-size: 1.6rem;
            line-height: 2rem;
            
            color: var(--dark);
            margin-bottom: .7rem;
        }

        h1{
            font-family: "Merriweather";
            font-weight: bold;
            font-size: 2.6rem;
            line-height: 3.3rem;
            
            color: var(--dark);
            
        }

        margin-bottom: 3.9rem;

    }

    .container-aboutUs {
        display: none;
    }

    .container-aboutUs {
        display: none;
    }


}

@media (min-width: 768px) {
    .content {
        
        .container-aboutUs {
            background-color: var(--white300);
            display: block;
        }    
    
    }
}