@font-face {
    font-family: "Lato";
    src: local("Lato-Regular"), url("./fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Bold";
    src: local("Lato-Bold"),  url("./fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Merriweather";
    src: local("Merriweather-Regular"), url("./fonts/Merriweather-Regular.ttf") format("truetype");
}

.content {

    padding: 5rem 3.2rem 5rem 3.2rem;
    background-color: var(--white);
    font-family: "Lato";

    .container-login {
        display: flex;
        flex-direction: column;

        .error-msg {
            color:red;
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    .icon-login-sucess {
        color: #eded13;
        width: 20rem;
        height: 20rem;
        align-self: center;
        margin-bottom: 5rem;
    }

    .icon-register-sucess {
        color: #54659b;
        width: 20rem;
        height: 20rem;
        align-self: center;
        margin-bottom: 5rem;
    }

    .icon-forgot-sucess {
        color: #1b61eb;
        width: 20rem;
        height: 20rem;
        align-self: center;
        margin-bottom: 5rem;
    }

}

@media (min-width: 768px) {

    .content {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        height: 100vh;
        padding: 0;
        
        .container-login {
            position: relative;
            background-color: var(--white);
            font-family: "Lato";
            height: 100%;
            min-width: 50%;
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;

        }
    
    }
}